:root {
  --dark-brown: #aa6c55;
  --light-brown: #d8c7ad;
  --dark-green: #57675a;
  --pinkish: #d3a08b;
}

/*
Mobile M - 375px
Mobile L - 425px
Tablet - 768px
Laptop - 1024px
Laptop L - 1440px
4k - 2560px
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark-green);
}

#header-nav-ul {
  background-color: var(--light-brown);
  display: flex;
}

.header-nav-a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.header-nav-a:hover {
  color: var(--dark-green);
  text-decoration: underline;
}

main {
  background-color: var(--dark-green);
}

#hero {
  background-color: var(--light-brown);
  position: relative;
  z-index: 0;
}

#hero img {
  object-fit: fill;
}

#hero-info {
  background-color: var(--dark-brown);
  position: absolute;
  z-index: -1;
}

#hero-intro {
  color: var(--light-brown);
}

#hero-address {
  color: var(--light-brown);
}

#hero-phone {
  color: var(--light-brown);
}

#hero-hours {
  align-items: center;
  background-color: var(--light-brown);
  display: flex;
  justify-content: center;
}

#hero-hours-p {
  color: var(--dark-brown);
}

hr {
  border-color: var(--pinkish);
  border-radius: .5rem;
  border-style: solid;
}

@media only screen and (max-width: 375px) {
  header {
    height: 3.5rem;
  }

  header #header-nav {
    height: 100%;
  }

  #header-nav-ul {
    align-items: center;
    height: 100%;
    justify-content: space-around;
    list-style: none;
    width: 100%;
  }

  .header-nav-li {
    text-align: center;
    width: 100%;
  }

  .header-nav-a {
    font-size: 1.1em;
  }

  #header-nav-logo-li {
    height: 100%;
    width: 25%;
  }

  #header-logo {
    height: 100%;
    width: auto;
  }

  main {
    height: 100%;
    padding: 1rem;
    width: auto;
  }

  #hero {
    border-radius: .6rem .6rem .6rem .5rem;
    height: 20rem;
    margin: .5rem;
  }

  #hero img {
    border-radius: .5rem;
    height: 9rem;
    width: 10rem;
  }

  #hero-info {
    border-radius: .5rem;
    bottom: 0;
    height: 100%;
    right: 0;
    width: 95%;
  }

  #hero-intro {
    height: 40%;
    margin: .5rem .5rem .5rem 50%;
    width: 48%;
  }

  #hero-address {
    margin: 1.5rem auto .5rem;
    text-align: center;
  }

  #hero-hr {
    margin: .5rem auto;
    width: 63%;
  }

  #hero-phone {
    margin: .5rem auto .5rem;
    text-align: center;
  }

  #hero-hours {
    border-radius: .5rem;
    height: 15%;
    margin: 2rem auto;
    width: 90%;
  }

  #hero-hours-p {
    text-align: center;
  }

  hr {
    margin: 1.5rem auto;
    width: 90%;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  header {
    height: 3.5rem;
  }

  header #header-nav {
    height: 100%;
  }

  #header-nav-ul {
    align-items: center;
    height: 100%;
    justify-content: space-around;
    list-style: none;
    width: 100%;
  }

  .header-nav-li {
    text-align: center;
    width: 100%;
  }

  .header-nav-a {
    font-size: 1.1em;
  }

  #header-nav-logo-li {
    height: 100%;
    width: 25%;
  }

  #header-logo {
    height: 100%;
    width: auto;
  }

  main {
    height: 100%;
    padding: 1rem;
    width: auto;
  }

  #hero {
    border-radius: .6rem .6rem .6rem .5rem;
    height: 19rem;
    margin: .5rem;
  }

  #hero img {
    border-radius: .5rem;
    height: 9rem;
    width: 10.5rem;
  }

  #hero-info {
    border-radius: .5rem;
    bottom: 0;
    height: 100%;
    right: 0;
    width: 95%;
  }

  #hero-intro {
    height: 40%;
    margin: .5rem .5rem .5rem 50%;
    width: 48%;
  }

  #hero-address {
    margin: 1.5rem auto .5rem;
    text-align: center;
  }

  #hero-hr {
    margin: .5rem auto;
    width: 63%;
  }

  #hero-phone {
    margin: .5rem auto .5rem;
    text-align: center;
  }

  #hero-hours {
    border-radius: .5rem;
    height: 15%;
    margin: 2rem auto;
    width: 90%;
  }

  #hero-hours-p {
    text-align: center;
  }

  hr {
    margin: 1.5rem auto;
    width: 90%;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  header {
    height: 4rem;
  }

  header #header-nav {
    height: 100%;
  }

  #header-nav-ul {
    align-items: center;
    height: 100%;
    justify-content: space-around;
    list-style: none;
    width: 100%;
  }

  .header-nav-li {
    text-align: center;
    width: 100%;
  }

  .header-nav-a {
    font-size: 1.1em;
  }

  #header-nav-logo-li {
    height: 100%;
    width: 25%;
  }

  #header-logo {
    height: 100%;
    width: auto;
  }

  main {
    height: 100%;
    padding: 1rem;
    width: auto;
  }

  #hero {
    border-radius: .6rem .6rem .6rem .5rem;
    height: 15rem;
    margin: .5rem;
  }

  #hero img {
    border-radius: .5rem;
    height: 10rem;
    width: 12rem;
  }

  #hero-info {
    border-radius: .5rem;
    bottom: 0;
    height: 100%;
    right: 0;
    width: 95%;
  }

  #hero-intro {
    height: 20%;
    margin: .5rem .5rem .5rem 35%;
    width: 60%;
  }

  #hero-address {
    margin: 1.5rem .5rem .5rem 35%;
    text-align: center;
  }

  #hero-hr {
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 35%;
    width: 60%;
  }

  #hero-phone {
    margin: .5rem .5rem .5rem 35%;
    text-align: center;
  }

  #hero-hours {
    border-radius: .5rem;
    height: 15%;
    margin: 2.5rem auto;
    width: 90%;
  }

  #hero-hours-p {
    text-align: center;
  }

  hr {
    margin: 1.5rem auto;
    width: 90%;
  }
}